# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Conda / Virtual Environment
# ===============================
env/
ENV/
venv/
.venv/
EDU/
conda-meta/

# ===============================
# Model Weights
# ===============================
backend/models/*.pth
*.pt

# ===============================
# Dataset (Very Important)
# ===============================
backend/data/train/
backend/data/val/
backend/data/test/
*.png
*.jpg
*.jpeg

# ===============================
# Logs & Checkpoints
# ===============================
*.log
*.ckpt

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# HuggingFace Cache
# ===============================
.cache/
backend/data/*
!backend/data/.gitkeep